<h1>Payment Calculation</h1>

<form action="/payment/results">
    <div>
    <label for="number_input">
        APR in % (Eg. 5.42)
    </label>
    
    <input id="number_input" type="text" name="user_apr"/>
    </div>

     <div>
    <label for="number_input">
        Number of years
    </label>
    
    <input id="number_input" type="text" name="user_years" />
    </div>
    
    <div>
    <label for="number_input">
        Principal
    </label>
    
    <input id="number_input" type="text" name="user_principal" />
    </div>
    
    <button>Calculate monthly payment</button>
    
</form>