<h1>Payment Calculation</h1>

<form action="/payment/results">
    <div>
    <label for="apr_input">
        APR in % (Eg. 5.42)
    </label>
    
    <input id="apr_input" type="text" name="user_apr"/>
    </div>

     <div>
    <label for="year_input">
        Number of years
    </label>
    
    <input id="year_input" type="text" name="user_years" />
    </div>
    
    <div>
    <label for="pv_input">
        Principal
    </label>
    
    <input id="pv_input" type="text" name="user_principal" />
    </div>
    
    <button>Calculate monthly payment</button>
    
</form>