<h1>Random Calculation</h1>

<form action="/random/results">
    <div>
    <label for="random_min_input">
        Minimum (E.g. 1.5)
    </label>
    
    <input id="random_min_input" type="text" name="user_minimum"/>
    </div>

    <div>
    <label for="random_max_input">
        Maximum (E.g. 4.5)
    </label>
    
    <input id="random_max_input" type="text" name="user_maximum" />
    </div>
    
    <button>Pick random number</button>
</form>
    